
/*mobile*/
@media screen and (max-width:767px){  
*{
    box-sizing: border-box;
}
section{
    border: solid 1px #b7b7b7;
    background-color: #d8d8d8;
    text-align: center;
    color:white;
    font-size: 25px;}
article{
    width:90%;
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
}

#e,#g{
    float: left;
}
#f,#h{
    float: right;
}
#a,#b,#c,#d,#i{
  width: 100%;
}
#e,#f,#g,#h{
    width: 50%;
}

#i{
    clear: both;
}
#a{
    height: 75px;
    line-height: 75px;
    background-color: turquoise;
}
#b{
    height: 150px;
    line-height: 150px;
    background-color: rgb(62, 185, 173);

}
#c{
    background-color: rgb(55, 80, 77);

}
#d{
    background-color: rgb(151, 190, 187);

}
#e{
    background-color: rgb(2, 77, 69);

}
#f{
    background-color: rgb(68, 77, 158);

}
#g{
    background-color: rgb(7, 83, 76);

}
#h{
    background-color: rgb(157, 238, 230);

}
#c,#d{
    height: 125px;
    line-height: 125px;
}
#e,#f,#g,#h{
    height:250px ;
    line-height: 250px;
}
#i{
    height: 80px;
    line-height: 80px;
    background-color: rgb(58, 161, 151);

}
}